.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 150px;
    padding: 2em;
    background-color: aqua;
}

.footer-content h2 {
    font-size: 2em;
}

.footer-content h5 {
    font-size: 1.5em;
    text-align: center;
}

.sotial-networks {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
}

.sotial-networks i {
    font-size: 1.5em;
}
